<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
<style>
body {
    font-family: 'Arial', sans-serif;
}
table {
    border-collapse: collapse;
}
th {
    color: white;
    background-color: grey;}
td {
    border: 1px solid;
}
</style>
</head>
<body>
    <h2>Eventos</h2>
    Mensaje: <span th:text="${mensaje}"></span><br>
    <br>
    <a th:href=@{/eventos/crearevento}>Nuevo evento</a>
    <h3>Lista con todos los eventos</h3>
    <table>
		<tr>
			<th>Id</th>
			<th>Nombre</th>
			<th>Descripcion</th>
			<th>Fecha inicio</th>
			<th>Duración (min)</th>
			<th>Dirección</th>
			<th>Estado</th>
			<th>Destacado</th>
			<th>Precio (€)</th>
			<th>Opciones RUD</th>
			<th>Cancelar</th>
		</tr>
		<tr th:each="evento: ${listaTodosEventos}">
			<td th:text = ${evento.idEvento}></td>
			<td th:text = ${evento.nombre}></td>
			<td th:text = ${evento.descripcion}></td>
			<td th:text = "${#dates.format(evento.fechaInicio, 'dd-MM-yyyy')}"></td>
			<td th:text = ${evento.duracion}></td>
			<td th:text = ${evento.direccion}></td>
			<td th:text = ${evento.estado}></td>
			<td th:text = ${evento.destacado}></td>
			<td th:text = ${evento.precio}></td>
			<td><a th:href = @{/eventos/leer/{valorid}(valorid=${evento.idEvento})}>Leer</a>
			<a th:href = @{/eventos/actualizar/{valorid}(valorid=${evento.idEvento})}>Editar</a>
			<a th:href = @{/eventos/borrar/{valorid}(valorid=${evento.idEvento})}>Borrar</a></td>
			<td><a th:href = @{/eventos/cancelar/{valorid}(valorid=${evento.idEvento})}>Cancelar</a></td>
		</tr>
</body>
</html>